<html>
<head>
    <style>
        body { font-family: Arial, sans-serif; background-color: #f4f4f4; padding: 20px; }
        .email-container { background-color: #ffffff; padding: 20px; border-radius: 5px; }
        .header { background-color: #df8826; color: white; padding: 10px; text-align: center; border-radius: 5px 5px 0 0; }
        .content { margin-top: 20px; }
        .footer { margin-top: 20px; font-size: 12px; text-align: center; color: #888888; }
    </style>
</head>
<body>
    <div class="email-container">
        <div class="header">
            <h1>Confirmação de Pedido</h1>
        </div>
        <div class="content">
            <p>Olá <strong>{clienteNome}</strong>,</p>
            Confirmamos a recepção do seu pedido para o <strong>{ambiente}</strong>. Sua solicitação foi processada com sucesso e vamos dar início ao planejamento do seu projeto.
            Estamos comprometidos em transformar suas ideias em realidade, criando um espaço que reflete seu estilo e atende às suas necessidades.
            Além disso, temos o prazer de informar que o orçamento detalhado para o seu projeto foi enviado como anexo neste e-mail. Este documento inclui todas as informações pertinentes e uma estimativa cuidadosa dos custos envolvidos. Sugerimos que você o revise atentamente para entender todas as etapas e aspectos financeiros do projeto.
            Agradecemos por escolher nossa equipe para dar vida ao seu projeto. Em caso de dúvidas ou se desejar discutir qualquer aspecto do orçamento ou do projeto em si, não hesite em nos contatar. Estamos aqui para ajudar e garantir que sua experiência seja tranquila e gratificante.

            <br>Leffa Moveis</br>

            <img src="/images/logo.png" alt="Logo" style="max-width:100%; height:auto;">
        </div>
        <div class="footer">
            <p>Obrigado por escolher a nossa empresa!</p>
        </div>
    </div>
</body>
</html>